In [ ]:
!touch phenotype.BMI.regenie_pred.list

In [ ]:
_output.touch()
print(f'_output is {_output}')

In [ ]:
'.regenie_pred.list'.split("_pred",1)

In [ ]:
''.join('.regenie_pred_pred'.split("_pred",1))

In [ ]:
'ukb23155_c2_b0_v1.missing.md'.rsplit("_",3)

In [ ]:
phenoCol=["BMI", "T2D"]
for i in range(len(phenoCol)):
    print('%s' % (phenoCol[i]))

In [ ]:
phenoCol=["BMI", "T2D"]
('%s' % (phenoCol[i]) for i in range(len(phenoCol)))

In [ ]:
phenoCol=["BMI", "T2D"]
output = [print(str(phenoCol[i])+'.regenie.gz') for i in range(len(phenoCol))]

In [ ]:
['%s' % i for i in phenoCol if i is not None]

In [ ]:
phenoCol=["BMI", "T2D"]
' '.join(phenoCol)

In [ ]:
${' '.join(['--covarColList %s ' % x for x in covarCol if x is not None])}

In [ ]:
${str(_output).rsplit('_',1)[0]}

In [ ]:
${str(_output).rsplit('_',1)[0]}

In [ ]:
cwd=path('.')
name="ukb23155_c17_b0_v1"
phenoCol=["BMI_int", "T2D"]
output=[f'{cwd}/{name}_'+ str(phenoCol[i]) + '.regenie.gz' for i in range(len(phenoCol))]
output
output[0].rsplit('_',)[0]

In [ ]:
name1="ukb23155_c1_b0_v1"
name1.rsplit('_',3)[0]

In [ ]:
name1="ukb23155_c1_b0_v1_hearing_aid_cat.regenie"
name1.rsplit('_',3)[0]

In [ ]:
tpl_file=/home/dc2325/project/bioworkflows/GWAS/farnam.yml
bfile=/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/pleiotropy_geneticfiles/UKB_Caucasians_phenotypeindepqc120319_updated082020removedwithdrawnindiv.bed
sampleFile=/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb39554_imputeddataset/ukb32285_imputedindiv.sample
bgenFile=`echo /gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb39554_imputeddataset/ukb_imp_chr{1..22}_v3.bgen`
unrelated_samples=/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/pleiotropy_geneticfiles/unrelated_n307259/UKB_unrelatedcauc_phenotypes_asthmat2dbmiwaisthip_agesex_waisthipratio_040620
formatFile_regenie=~/project/UKBB_GWAS_dev/data/regenie_template.yml
#Container
container_lmm=/gpfs/gibbs/pi/dewan/data/UKBiobank/lmm.sif
container_marp=/gpfs/gibbs/pi/dewan/data/UKBiobank/marp.sif
# Directories
lmm_sos=~/project/bioworkflows/GWAS/LMM.ipynb
lmm_dir_regenie=/gpfs/gibbs/pi/dewan/data/UKBiobank/results/REGENIE
lmm_sbatch_regenie=../output/$(date +%Y-%m-%d)_lipids_imp-regenie.sbatch
phenoFile=/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320
covarFile=/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320
phenoCol="ApoA_int ApoB_int Creatinine_int Hba1c_int eGFR_int UACR_int"
covarCol="SEX Packyrs_smoking alcohol1 alcohol2 alcohol3 alcohol4" 
qCovarCol=AGE
maf_filter=0.001
geno_filter=0.0
hwe_filter=0.0
mind_filter=0.0
trait=
minMAC=4
bsize=1000
ylim=0
job_size=1
numThreads=22
reverse_log_p=True
lowmem_prefix=~/scratch60

sos dryrun ~/project/bioworkflows/GWAS/LMM.ipynb regenie \
    --cwd $lmm_dir_regenie \
    --bfile $bfile \
    --sampleFile $sampleFile \
    --bgenFile $bgenFile \
    --phenoFile $phenoFile \
    --formatFile $formatFile_regenie \
    --covarFile $covarFile \
    --phenoCol $phenoCol \
    --covarCol $covarCol \
    --qCovarCol $qCovarCol \
    --maf_filter $maf_filter \
    --geno_filter $geno_filter \
    --hwe_filter $hwe_filter \
    --mind_filter $mind_filter \
    --trait $trait \
    --minMAC $minMAC \
    --bsize $bsize \
    --numThreads $numThreads \
    --job_size $job_size \
    --ylim $ylim \
    --p-filter 1 \
    --reverse_log_p $reverse_log_p \
    --lowmem_prefix $lowmem_prefix \
    --container_lmm $container_lmm \
    --container_marp $container_marp

In [ ]:
phenoCol=["BMI", "T2D"]
output= [str(phenoCol[i]) + '.regenie.gz' for i in range(len(phenoCol))]
print(output[i]) for i in range(len(output))

In [ ]:
phenoCol="BMI T2D"
for i in $phenoCol; do echo $i; done

In [ ]:
!touch c1_BMI c2_BMI c3_T2D c4_T2D
input: 'c1_BMI', 'c2_BMI', 'c3_T2D', 'c4_T2D', group_by=2
print(f"{_index}: {_input}")

In [ ]:
{str(output).rsplit('_',1)[0]}

In [ ]:
animals = ['bear' , 'python' , 'peacock', 'kangaroo' , 'whale' , 'platypus']

# print "The first (1st) animal is at 0 and is a bear." 

for i in range(len(animals)):
    print ("The %d animal is at %d and is a %s" % (i+1 ,i, animals[i]))

In [ ]:
letters = ['a', 'b']
status = [print(letters[i]) for i in range(len(letters))]

In [ ]:
'/home/dc2325/output/cache/imputed_genotypes_chr21_BMI.regenie.Pval'.split('_',0)

In [ ]:
'/home/dc2325/output/cache/imputed_genotypes_chr21_BMI.regenie.Pval'.rsplit('_', 1)

In [ ]:
import pandas as pd
df = pd.read_csv('/home/dc2325/output/cache/imputed_genotypes_chr21_BMI.regenie', header=0, delim_whitespace=True)

In [ ]:
  ${''.join(['--out ${str(_output).rsplit('_',1)[0]}_%s ' % x for x in phenoCol if x is not None])}

In [ ]:
df

In [ ]:
df['P'] = df.apply(lambda row: 10**-row.LOG10P , axis = 1)

In [ ]:
df

In [ ]:
df.to_csv('test.csv', sep=' ', index=False, columns = ('CHROM', 'GENPOS', 'ID','ALLELE0','ALLELE1','BETA','SE','P'))

In [ ]:
var1= 'hola'
print(var1)

In [ ]:
python:expand = "{ }", stderr = f'{_output:n}.stderr', stdout = f'{_output:n}.stdout'
    import pandas as pd
    df = pd.read_csv('{_output:nn}' , header=0, delim_whitespace=True)
    df['P'] = df.apply(lambda row: 10**-row.LOG10P , axis = 1) 
    df.to_csv('{_output:n}', sep=' ', index=False, columns = ('CHR', 'POS', 'SNP','REF','ALT','BETA','SE','P'))

In [ ]:
    if {reverse_log_p}:
        sumstats['P'] = sumstats['P'].apply(lambda row: 10**-row.LOG10P , axis = 1)

In [ ]:
f'{cwd}/{phenoFile:bn}_' + '_'.join(['%s' % x for x in phenoCol if x is not None]).{step_name.rsplit("_",1)[0]} + '.snp_stats.gz'

In [ ]:
parameter: formatFile = path("/home/dc2325/project/UKBB_GWAS_DEV/data/regenie_template.yml")
python: expand= '${ }'
        if ${formatFile.is_file()}:
        import yaml
        import pandas as pd
        sumstats = pd.read_csv(output, compression='gzip', header=0, sep='\t', quotechar='"')  
        config = yaml.safe_load(open(${formatFile:r}, 'r'))
        try:
            sumstats = sumstats.loc[:,list(config.values())]
        except:
            raise ValueError(f'According to {${formatFile}}, input summary statistics should have the following columns: {${list(config.values())}}.')
        sumstats.columns = {list(config.keys())}
        sumstats.to_csv('${_output[0]}', compression='gzip', sep='\t', header = True, index = False)

In [ ]:
parameter: formatFile = path("/home/dc2325/project/UKBB_GWAS_DEV/data/regenie_template.yml")
parameter: sumfile = path("/home/dc2325/output/phenotypes_BMI.regenie.snp_stats_original_columns.gz")
parameter: reverse_log_p = True
python: expand= '${ }'
    if ${formatFile.is_file()}:
        import yaml
        import pandas as pd
        sumstats = pd.read_csv(${sumfile:r}, compression='gzip', header=0, delim_whitespace=True)
        config = yaml.safe_load(open(${formatFile:r}, 'r'))
    try:
        sumstats = sumstats.loc[:,list(config.values())]
    except:
        raise ValueError(f'According to ${formatFile}, input summary statistics should have the following columns: {list(config.values())}.')
    sumstats.columns = list(config.keys())
    if ${reverse_log_p}:
        sumstats['P'] = sumstats['P'].apply(lambda row: 10**-row)
    print(sumstats.head())

In [ ]:
       try:
            sumstats = sumstats.loc[:,list(config.values())]
        except:
            raise ValueError(f'According to ${formatFile}, input summary statistics should have the following columns: {list(config.values())}.')
        sumstats.columns = list(config.keys())
    if ${reverse_log_p}:
        sumstats['P'] = sumstats['P'].apply(lambda row: 10**-row)
        print(sumstats.head())
        #sumstats.to_csv('test', compression='gzip', sep='\t', header = True, index = False)

In [ ]:
cd ~/project/HI_UKBB
pwd

In [ ]:
import pandas as pd
dat = pd.read_csv("/home/dc2325/project/HI_UKBB/200811_UKBB_Tinnitus_plan1_2_3_f4803", header=0, delim_whitespace=True, quotechar='"',dtype=str)

In [ ]:
%preview dat

In [ ]:
dat.dtypes

In [ ]:
df2 = dat.replace(to_replace =np.nan, value ="NA")
df2

In [ ]:
dat.columns = dat.astype("int64").dtypes

In [ ]:
cols = [ 'tinnitus_p2','tinnitus_p3']
for col in cols:
   dat[col] = dat[col].fillna(10000)
   dat[col] = dat[col].apply(lambda x: int(x) if x != "" else "")
dat=dat.replace(10000,np.nan)
dat

In [ ]:
import numpy as np
dat['tinnitus_p2'] = dat['tinnitus_p2'].fillna(-1)
dat['tinnitus_p2'] = dat['tinnitus_p2'].astype(int)
dat['tinnitus_p2'] = dat['tinnitus_p2'].astype(str)
dat['tinnitus_p2'] = dat['tinnitus_p2'].replace('-1', np.nan)

In [ ]:
dat = pd.read_csv(filename, dtype={'id':str})

In [ ]:
dat['tinnitus_p2'] = dat['tinnitus_p2'].apply()

In [ ]:
dat['tinnitus_p3'] = dat['tinnitus_p3'].astype('Int64')

In [ ]:
import pandas as pd
import numpy as np
phenoCol = ["tinnitus", "tinnitus_p2", "tinnitus_p3"]
dat = pd.read_csv("/home/dc2325/project/HI_UKBB/200811_UKBB_Tinnitus_plan1_2_3_f4803", header=0, delim_whitespace=True, dtype=str)
dat = dat.replace(to_replace =np.nan, value ="NA")
#if len(phenoCol) > 0:
    #dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [ ]:
%preview dat

In [ ]:
import pandas as pd
import numpy as np
phenoCol = ["BMI"]
dat = pd.read_csv("/SAY/dbgapstg/scratch/UKBiobank/MWE/phenotypes.txt", header=0, delim_whitespace=True, dtype=str)
dat = dat.replace(to_replace =np.nan, value ="NA")
if len(phenoCol) > 0:    
    dat.to_csv(f"~/output/phenotypes.regenie_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [ ]:
[plink: provides = f'{cwd}/cache/{bfile:bn}.regenie.keep']
parameter: plink2_module = '''
module load PLINK/2_x86_64_20180428
echo "Module plink2 loaded"
{cmd}
'''
input: bfile
output: f'{cwd}/cache/{bfile:bn}.qc_pass.id', f'{cwd}/cache/{bfile:bn}.qc_pass.snplist', f'{cwd}/cache/{bfile:bn}.regenie.keep' 
task: trunk_workers = 1, walltime = '10h', mem = '30G', cores = numThreads, tags = f'{step_name}_{_output[0]:bn}'
bash: expand= "${ }", stderr = f'{_output[0]:n}.stderr', stdout = f'{_output[0]:n}.stdout', template = '{cmd}' if executable('plink2').target_exists() else plink2_module    
    plink2 \
      --bfile ${bfile:n} \
      --maf 0.001 \
      --geno 0.01 \
      --hwe 5e-08 \
      --mind 0.01 \
      --write-snplist --write-samples --no-id-header \
      --threads ${numThreads} \
      --out ${_output[0]:n} 
      
bash: expand = "${ }"
    # create qc_pass space delimited and create keep file
    expand -t 1 ${_output[0]} > ${_output[0]:n}_space.id \
    && grep -wFf  ${_output[0]:n}_space.id  ${sampleFile} > ${_output[2]}

In [ ]:
library('dplyr')
library('ggrepel')
setwd("~")
getwd()

In [ ]:
#Load your data
data <- read.table(gzfile('output/phenotypes_T2D.regenie.snp_stats.gz'), header=T)

In [ ]:
# Create a subset of the data with variants with P< 0.05 and arrange by chromosome number
# https://danielroelfs.com/blog/how-i-create-manhattan-plots-using-ggplot/
sig.dat <- data %>%
  subset(P < 0.08)

In [ ]:
head(sig.dat)

In [ ]:
%cd /SAY/dbgapstg/scratch/UKBiobank/results/FastGWA_results/results_imputed_data/f2247_f2257_combined/cache

In [ ]:
heritability =  open('ukb_imp_chr1_v3.200828_UKBB_f2247_f2257.log', 'r')
for line in heritability:
    if line.startswith('Heritability'):
        print (line)

In [ ]:
%cd ~
%run 
[fastGWA_1]
output: 'test1.log'
_output.touch('Heritability=1')
[default_1]
if any(['fastGWA_1' in x for x in {step_name}]):
    heritability = get_output(f'grep Heritability {_input:n}.log | head -1').strip()
    print(heritability)
else:
    heritability = None
    print("nothing")
[default_2]
output: 'report.md'    
R: expand ="${ }"
    write('${(" Heritability is %s" % heritability) if heritability is not None else ''}', ${_output:r}, append = T)

In [ ]:
else:
    heritability = None
    print("nothing")
output: 'report.md'    
R: expand ="${ }"
    write('${(" Heritability is %s" % heritability) if heritability is not None else ''}', ${_output:r}, append = T)

In [ ]:
    with open(_output, 'r') as f:
                        for line in f:
                            if line.startswith('Heritability'[0]):
                                print (line)

In [ ]:
%cd ~
%run
[step_1]
input: 'test1.log'
heritability =  get_output(f'grep Heritability {_input} | head -1').strip()
print(heritability)
[step_2]
output: 'result.md'
R: expand="${ }"
   write(paste(${heritability}), ${_output:r}, append = T)

In [ ]:
import pandas as pd
covarCol = ["sex", "loud_music"]
qCovarCol = ['age']
dat = pd.read_csv('/home/dc2325/project/HI_UKBB/200904_UKBB_SRT_cat_cc', header=0, delim_whitespace=True)
if len(covarCol) > 0:
    dat.to_csv(f"test.fastGWA_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol)
if len(qCovarCol) > 0:
    dat.to_csv(f"test.fastGWA_qcovar", sep=' ', index=False, columns = ['FID', 'IID'] + qCovarCol)
dat.head()

In [ ]:
library('qqman')
ylim=0
data <- read.table(gzfile('/SAY/dbgapstg/scratch/UKBiobank/results/FastGWA_results/results_imputed_data/triglycerides/UKB_Caucasiansubset_cholesterolfields_adjbymedstatus_062420_foranalysis_triglycerides.fastGWA.snp_stats.gz'), header=T)
ifelse((ylim == 0 && min(data$P)!=0), ylim <- abs(floor(log10(min(data$P)))), ylim <- log10(2.225074e-308))
print(ylim)

In [ ]:
ifelse((ylim == 0 && min(data$P)!=0), ylim <- abs(floor(log10(min(data$P)))), ylim <- abs(floor(log10(2.225074e-308))))
ylim

In [ ]:
[global]
#The directory for output files
parameter: cwd = f'/home/dc2325/output/'
#The region file
parameter: regions_file = f'/gpfs/gibbs/pi/dewan/data/UKBiobank/results/region_extraction/f3393_hearing_aid/regions.txt'
regions = [x.strip() for x in open(regions_file).readlines()]
[extract_regions]
input: for_each = 'regions', group_by=1
output: f'{cwd}/{_regions}.out'
bash: expand = '${ }'
    echo ${_regions} > ${_output}

In [ ]:
import pandas as pd
import numpy as np
region_file=path("/gpfs/gibbs/pi/dewan/data/UKBiobank/results/LD_clumping/f3393_hearing_aid/200828_UKBB_Hearing_aid_f3393_hearing_aid_cat.fastGWA.snp_stats.clumped_region")

In [ ]:
region_file

In [ ]:
regions = ([x.strip() for x in open(region_file).readlines()])

In [ ]:
regions1 = [x.replace(' ', '_' ) for x in regions]

In [ ]:
regions1

In [ ]:
import pandas as pd
import numpy as np
dat = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320', header=0, delim_whitespace=True, dtype=str)

In [ ]:
phenoCol=['ApoA_int', 'ApoB_int', 'Creatinine_int', 'Hba1c_int', 'eGFR_int', 'UACR_int']
dat = dat.replace(to_replace =np.nan, value ="NA")
if len(phenoCol) > 0:    
    dat.to_csv("test.regenie_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [ ]:
dat = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320', header=0, delim_whitespace=True)
covarCol=["SEX","alcohol1" ,"alcohol2" ,"alcohol3", "alcohol4"] 
qCovarCol=["AGE", "Packyrs_smoking"]
if len(covarCol) > 0 or len(qCovarCol) > 0:
    dat = dat.dropna(subset=covarCol)
    dat = dat.dropna(subset=qCovarCol)
    dat.replace(to_replace =np.nan, value ="NA")
    dat1 = pd.DataFrame(dat, columns = ['FID','IID'] + covarCol)
    dat1 = dat1.astype(int)
    dat2 = pd.DataFrame(dat, columns = ['IID'] + qCovarCol)
    merged_left = pd.merge(left=dat1, right=dat2, how='left', left_on='IID', right_on='IID')
    dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol + qCovarCol)

In [ ]:
dat1 = pd.DataFrame(dat, columns = ['IID'] + covarCol)
dat1 = dat1.astype(int)
dat1.head()

In [ ]:
dat2 = pd.DataFrame(dat, columns = ['FID', 'IID'] + qCovarCol)
dat2.head()

In [ ]:
merged_left = pd.merge(left=dat1, right=dat2, how='left', left_on='IID', right_on='IID')
merged_left.head()

In [ ]:
dat.info()

In [ ]:
mask = dat['alcohol1'].isnull() | dat['alcohol2'].isnull() | dat['alcohol3'].isnull() | dat['alcohol4'].isnull()
print (dat[mask])

In [ ]:
mask2 = dat['SEX'].isnull()
print (dat[mask2])

In [ ]:
is_NaN = dat.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = dat[row_has_NaN]
print(rows_with_NaN)

In [ ]:
test = dat.dropna(subset=covarCol)
test.head(100)
test.shape[0]

In [ ]:
dat.shape[0]

In [ ]:
mask = test['alcohol1'].isnull() | test['alcohol2'].isnull() | test['alcohol3'].isnull() | test['alcohol4'].isnull()
print (test[mask])

In [ ]:
dat[dat.isnull().any(axis=1)]

In [ ]:
bd = read.table('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/pleiotropy_R01/phenotypesforanalysis/UKB_CAUC_lipidsforanalysis_apolipoproteinAandB,Hba1c_continuousandcategorical,egfrbyCKDEPI,serumcreatinine,UACR_inverseranknorm_110320', header=T)

In [ ]:
head(bd)

In [ ]:
summary(bd$alcohol1)

In [ ]:
summary(bd$alcohol2)

In [ ]:
summary(bd$alcohol3)

In [ ]:
summary(bd$alcohol4)

In [ ]:
dat.head(100)
check_for_nan = dat['alcohol1'].isnull()
print (check_for_nan)

In [ ]:
dat1= pd.DataFrame(dat, columns = ['FID', 'IID'] + covarCol)
dat = dat1.astype(int)
dat1.head()

In [ ]:
import pandas
    df = pandas.DataFrame(data, columns = ['FID', 'IID'] + covarCol, index=False)
    df = df.astype(int)

In [ ]:
dat['alcohol4'].isnull().values.any()

In [ ]:
dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol + qCovarCol)

In [ ]:
dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_covar", sep=' ', index=False, columns = ['FID', 'IID'] + covarCol + qCovarCol)

In [ ]:
dat[[covarCol]] = dat[[covarCol]].apply(pd.to_numeric)
                              #df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)

In [ ]:
merged_data = pd.merge(left=survey_sub, right=species_sub, how='left', left_on='species_id', right_on='species_id')

In [ ]:
import pandas as pd
dtypes={'CHR': int,'POS': int,'REF': str,'ALT':str,'SNP':str,'BETA':float,'SE':float,'P':float}
sumstats_1 = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/results/FastGWA_results/results_imputed_data/HDL/UKB_Caucasiansubset_cholesterolfields_adjbymedstatus_062420_foranalysis_HDL.fastGWA.snp_stats.gz', compression='gzip', header=0, sep='\t', quotechar='"')
sumstats_2 = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/results/BOLTLMM_results/results_imputed_data/HDL/UKB_Caucasiansubset_cholesterolfields_adjbymedstatus_062420_foranalysis_HDL.boltlmm.snp_stats.gz', compression='gzip', header=0, sep='\t', quotechar='"')

In [ ]:
sumstats_1.head()

In [ ]:
sumstats_2.head()

In [ ]:
sumstats_1.info()

In [ ]:
sumstats_2.info()

In [ ]:
sumstats_2["P"] = sumstats_2["P"].astype('float')

In [ ]:
sig_1=sumstats_1[sumstats_1.P<5e-08]
sig_2=sumstats_2[sumstats_2.P<5e-08]

In [ ]:
difference = set(sig_1.SNP) ^ set(sig_2.SNP)

In [ ]:
difference

In [ ]:
s = list(difference)

In [ ]:
res1 = sig_1[sig_1.SNP.isin(s)]
res1.columns = ['CHR', 'POS', 'REF', 'ALT', 'SNP', 'BETA_pheno1', 'SE_pheno1', 'P_pheno1']
res2 = sig_2[sig_2.SNP.isin(s)]
res2.columns = ['CHR', 'POS', 'REF', 'ALT', 'SNP', 'BETA_pheno1', 'SE_pheno2', 'P_pheno2']
res3 = pd.merge(res1, res2, on=['SNP', 'CHR', 'POS', 'REF', 'ALT'])
s.to_csv("test.differ.snps", sep=' ', header = False, index = False)
res3.to_csv("test.differ.sum", sep='\t', header = True, index = False)

In [ ]:
import pandas as pd
phenoCol = ["hearing_aid_cat"]
dat = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/phenotype_files/hearing_impairment/phenotypes_exome_data/010421_UKBB_Hearing_aid_f3393_exomes', header=0, delim_whitespace=True)

In [ ]:
if len(phenoCol) > 0:
    dat.to_csv(f"test.fastGWA_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

In [ ]:
import pandas as pd
import numpy as np
common = pd.read_csv("/home/dc2325/output/cache/ukb23155_c1_b0_v1.common_var.snplist", header=None, delim_whitespace=True, dtype=str)
common.columns = ['SNPid']
common.head()

In [ ]:
count_row = common.shape[0]
count_row

In [ ]:
rare = pd.read_csv("/home/dc2325/output/cache/ukb23155_c1_b0_v1.rare_var.snplist", header=None, delim_whitespace=True, dtype=str)
rare.columns=['SNPid']
rare.head()

In [ ]:
count_row2 =rare.shape[0]
count_row2

In [ ]:
all_var = pd.read_csv ("/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb28374_exomedata/exome_data_OCT2020/ukb23155_c1_b0_v1.bim", header=None, delim_whitespace=True, dtype=str)
all_var.head()

In [ ]:
count_row3 =all_var.shape[0]
count_row3

In [ ]:
int_df = pd.merge(common, rare, how ='inner', on =['SNPid', 'SNPid']) 
print(int_df)

In [ ]:
awk -F"[, ]" 'NR==FNR{a[$1]=$1","$2; next} ($2 in a){print a[$2]","$1}' file1 file2 
awk -F, 'FNR==NR {lines[$2]; next} $2 in lines' file1 file2

In [ ]:

awk -F" " 'FNR==NR {lines[$1]; next} $2 in lines ' /home/dc2325/output/cache/test_del_awk.txt /home/dc2325/output/cache/ukb23155.allchr.bim > /home/dc2325/output/cache/out_file

In [ ]:
awk -F" " 'FNR==NR {lines[$1]; next} $2 in lines ' /home/dc2325/output/cache/test_ins_awk.txt /home/dc2325/output/cache/ukb23155.allchr.bim > /home/dc2325/output/cache/out_ins_awk.txt

In [ ]:
cat /home/dc2325/output/cache/out_ins_awk.txt | head

In [ ]:
awk -F"\t" 'length ($6)>1 {print}' /home/dc2325/output/cache/ukb23155.allchr.bim | wc -l

In [ ]:
grep "D"  /home/dc2325/output/cache/ukb23155.allchr.bim | wc -l

In [ ]:
awk -F" " 'FNR==NR {lines[$1]; next} $2 in lines {print $1, $4, $6, $5}' /home/dc2325/output/cache/test_awk.txt /home/dc2325/output/cache/ukb23155.allchr.bim

In [ ]:
awk -F" " '{print $1, $4, $4 + (length ($6) - length ($5)), $6, $5  } ' /home/dc2325/output/cache/out1.txt

In [ ]:
awk -F" " '{print $1, $4, $4 , $6, $5  } ' /home/dc2325/output/cache/out_ins_awk.txt | head

In [ ]:
cat /home/dc2325/output/cache/test_awk.txt

In [ ]:
awk '{if ($2 ~ /D/) {print $1, $4, $4 + (length ($6) - length ($5)), $6, $5, $3 } else {print $1, $4, $4, $6, $5,$3 }}'  /home/dc2325/output/cache/test_del_ins_awk.txt

In [ ]:
awk '{if ($2 ~ /D/) {print $1, $4, $4 + (length ($6) - length ($5)), $6, $5, $3 } else {print $1, $4, $4, $6, $5,$3 }}'  /home/dc2325/scratch60/output/ukb23155_chr1_chr3.bim

In [ ]:
cat /home/dc2325/output/cache/test_del_ins_awk.txt

In [ ]:
avail_samples = read.table('/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb28374_exomedata/exome_data_OCT2020/ukb23155_c10_b0_v1.fam', header=F)

In [ ]:
head(avail_samples)

In [ ]:
avail_samples = read.table('/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/ukb39554_imputeddataset/ukb32285_imputedindiv.sample', header=T)

In [ ]:
head(avail_samples)

In [ ]:
all_unrelated = read.table('/gpfs/gibbs/pi/dewan/data/UKBiobank/genotype_files/pleiotropy_geneticfiles/unrelated_n307259/UKB_unrelatedcauc_phenotypes_asthmat2dbmiwaisthip_agesex_waisthipratio_040620', header=T)

In [ ]:
head(all_unrelated)

In [ ]:
library(dplyr)
unrelated_samples = which(avail_samples[,1] %in% all_unrelated$IID)

In [ ]:
dat = avail_samples[unrelated_samples,]
if (100 < nrow(dat)) {
      dat = dat[sample(1:nrow(dat), 100), 1, drop=F]
    } else {
      dat = dat[, 1, drop=F]
    }

In [ ]:
head(dat)

In [ ]:
annovar_out = read.csv('/home/dc2325/output/annovar/genotypes_1_2.hg38_multianno.csv', header=T)

In [ ]:
head(annovar_out[1:144])

In [ ]:
awk '{if ($2 ~ /D/) {print $1, $4, $4 + (length ($6) - length ($5)), $6, $5, $2} else {print $1, $4, $4, $6, $5, $2}}'

In [ ]:
name = 'ukb23156_c1_b57_v1.vcf.gz'
blocks = [int(s) for s in name.split('_') if s.isdigit()]

In [ ]:
blocks

In [ ]:
s.split('_')

In [ ]:
int(list(filter(str.isdigit, name))[4])

In [ ]:
s = 'ukb23156_c1_b57_v1.vcf.gz,ukb23156_c1_b58_v1.vcf.gz'
nums = list(map(int, ''.join([x if x.isdigit() else ' ' for x in s]).split()))
nums

In [ ]:
from itertools import groupby
test_list = ['ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz']
test_list.sort()
res = [list(i) for j, i in groupby(test_list,
                  lambda a: a.split('_')[1])]

In [ ]:
res

In [ ]:
test_list[0].rsplit("_")[0]

In [ ]:
# importing the itertools module
import itertools
# initializing the strings
strings = ['tutorials-python', 'tutorials-c', 'tutorials-java', 'tutorials-javascript', 'python-1', 'python-2', 'javascript-1']
# empty list
result = []
# iterator
# lambda function will return first part from the string
iterator = itertools.groupby(strings, lambda string: string.split('-')[0])
# iterating over the result
# element and its group
for element, group in iterator:
   # appending the group by converting it into a list
   result.append(list(group))
# printing the result
print(result)

In [ ]:
my_list = ['ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz']
result = []
iterator = itertools.groupby(my_list, lambda my_list: my_list.split('_')[0])
for element, group in iterator:
   # appending the group by converting it into a list
   result.append(list(group))
# printing the result
print(result)

In [ ]:
[my_list.split('_')[1]]

In [ ]:
from itertools import groupby
list1 = ['ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz',  'ukb23156_c22_b57_v1.vcf.gz', 'ukb23156_c2_b1_v1.vcf.gz']
list1.sort()
[list(g) for k, g in groupby(list1, key=lambda x: x[10:13])]

In [ ]:
input=['ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz',  'ukb23156_c22_b57_v1.vcf.gz', 'ukb23156_c2_b1_v1.vcf.gz']

In [ ]:
lambda x: [list(g) for g in groupby(_input, key=lambda x: x[10:13])]

In [ ]:
touch ukb23156_c1_b57_v1.vcf.gz ukb23156_c1_b56_v1.vcf.gz ukb23156_c22_b56_v1.vcf.gz ukb23156_c22_b57_v1.vcf.gz ukb23156_c2_b1_v1.vcf.gz

In [ ]:
list1=['ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz',  'ukb23156_c22_b57_v1.vcf.gz', 'ukb23156_c2_b1_v1.vcf.gz']
input: list, group_by=1

In [ ]:
!touch a.txt b.txt c.txt d.txt

In [ ]:
input: 'ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz',  'ukb23156_c22_b57_v1.vcf.gz', group_by = lambda x:[x.split('_', 3)[1] for x in _input]
print(f'Input of substep is {_input}')

In [ ]:
lambda x: x.split(' ')[0] + ' ' + x.split(' ')[1])

In [ ]:
'ukb23156_c22_b57_v1.vcf.gz'.split('_', 3)[1]

In [ ]:
from itertools import groupby
list1=['ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz',  'ukb23156_c22_b57_v1.vcf.gz', 'ukb23156_c2_b1_v1.vcf.gz'] 
list1.sort()
keyf= lambda x:[x.split('_', 3)[1] for x in list1]
res = [list(items) for gr, items in groupby(list1, key=keyf)]

In [ ]:
from itertools import groupby
list1=['ukb23156_c1_b57_v1.vcf.gz','ukb23156_c1_b56_v1.vcf.gz', 'ukb23156_c22_b56_v1.vcf.gz',  'ukb23156_c22_b57_v1.vcf.gz', 'ukb23156_c2_b1_v1.vcf.gz'] 
list1.sort()
[list(g) for _, g in itertools.groupby(list1, lambda x: x.partition('_')[0])]

In [ ]:
cd /mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/

In [ ]:
from glob import glob
glob("/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/cache/*.filtered2.vcf.gz")

In [ ]:
%run
[global]
vcfs=/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/ukb23156_c22_b*.vcf.gz
[qc_1]
input: glob({vcfs:d}"/cache/*.filtered2.vcf.gz")
print(f'Input of substep is {_input}')

In [ ]:
import itertools as itertools
from itertools import groupby
vcfs=['/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/ukb23156_c1_b57_v1.vcf.gz',
      '/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/ukb23156_c1_b56_v1.vcf.gz', 
      '/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/ukb23156_c22_b56_v1.vcf.gz',  
      '/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/ukb23156_c22_b57_v1.vcf.gz', 
      '/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/ukb23156_c2_b1_v1.vcf.gz']
temp=sorted(vcfs, key = lambda x: ([int(y[1:]) for y in str(x).split('_')[4:6]]))

In [ ]:
[list(ele) for i, ele in groupby(temp, lambda x: str(x).split('_')[4])]

In [ ]:
from glob import glob
vcfs= glob(f"/mnt/mfs/statgen/UKBiobank/data/exome_files/project_VCF/plink_files/cache/ukb23156_c+([[0-9]])_b[0-9]+_v1.leftnorm.filtered.vcf.gz")

In [ ]:
vcfs

In [ ]:
def group_chrom(vcfs):
  from itertools import groupby
  # First, order by chr and blk
  temp = sorted(vcfs, key = lambda x: ([int(y[1:]) for y in str(x).split('_')[4:6]]))
  # Then group by chrom
  return [list(ele) for i, ele in groupby(temp, lambda x: str(x).split('_')[4])]

In [ ]:
group_chrom(vcfs)

In [ ]:
len(group_chrom(vcfs))

In [ ]:
str(group_chrom(vcfs))

In [ ]:
##Getting only the base name does not work 
def group_chrom(vcfs):
  from itertools import groupby
  # First, order by chr and blk
  temp = sorted(vcfs, key = lambda x: ([int(y[1:]) for y in f'{x:b}'.split('_')[1:3]]))
  # Then group by chrom
  return [list(ele) for i, ele in groupby(temp, lambda x: f'{x:b}'.split('_',3)[1])]

### Creating the anno_file for burden testing

In [2]:
import pandas as pd
import numpy as np
import os, psutil
#process = psutil.Process(os.getpid())
#anno = pd.read_csv('/gpfs/gibbs/pi/dewan/data/UKBiobank/results/annovar_exome/ukb23155_chr1_chr22_exomedata.hg38.hg38_multianno.csv', header=0)
#print(process.memory_info().rss)
##Full dataset
#anno = pd.read_csv('/mnt/mfs/statgen/UKBiobank/results/annovar_exome/ukb32285_exomespb_chr1_22.hg38.hg38_multianno.csv', header=0)
##Subset of the dataset
anno = pd.read_csv('/mnt/mfs/statgen/UKBiobank/results/annovar_exome/ukb32285_exomespb_chr1_22.hg38.hg38_multianno_python.txt', sep=' ', header=0)

In [3]:
anno.head()

   Chr  Start   Ref Alt Gene.refGene          ExonicFunc.refGene
0    1  69134     A   G        OR4F5           nonsynonymous SNV
1    1  69149     T   A        OR4F5           nonsynonymous SNV
2    1  69195  CCTT   C        OR4F5  nonframeshift substitution
3    1  69224     A   T        OR4F5           nonsynonymous SNV
4    1  69232     C   A        OR4F5           nonsynonymous SNV

## Subset dataframe using pandas

In [ ]:
#anno1 = anno[["Chr", "Start", "Ref", "Alt", "Gene.refGene", "ExonicFunc.refGene"]]

In [ ]:
#anno1.head()

In [ ]:
#anno.dtypes

In [4]:
anno["Chr"] = anno['Chr'].astype('str')
anno["Start"] = anno['Start'].astype('str')
anno["Ref"] = anno['Ref'].astype('str')
anno["Alt"] = anno['Alt'].astype('str')
anno["Gene.refGene"] = anno['Gene.refGene'].astype('str')
anno["ExonicFunc.refGene"] = anno['ExonicFunc.refGene'].astype('str')

In [5]:
df = anno["Gene.refGene"].str.split(";", n = 1, expand = True)
anno["Gene"]= df[0]

In [6]:
anno.head()

  Chr  Start   Ref Alt Gene.refGene          ExonicFunc.refGene   Gene
0   1  69134     A   G        OR4F5           nonsynonymous SNV  OR4F5
1   1  69149     T   A        OR4F5           nonsynonymous SNV  OR4F5
2   1  69195  CCTT   C        OR4F5  nonframeshift substitution  OR4F5
3   1  69224     A   T        OR4F5           nonsynonymous SNV  OR4F5
4   1  69232     C   A        OR4F5           nonsynonymous SNV  OR4F5

In [7]:
annotation_mappings = {"nonsynonymous":'missense', "frameshift":'LoF', "stopgain":'LoF', "stoploss":'LoF', "synonymous":'synonymous'}
def annotation(x):
    x = x.strip().split()
    for i in x:
        if i in annotation_mappings.keys():
            return annotation_mappings[i]
    return 'other'
anno["anno_cat"] = anno["ExonicFunc.refGene"].apply(annotation)
import csv
with open('/home/dmc2245/annotation.txt', 'w') as output:
    for row in anno[["Chr", "Start", "Ref", "Alt", "Gene", "anno_cat"]].to_numpy():
        output.write(f'{row[0]}:{row[1]}:{row[2]}:{row[3]} {row[4]} {row[5]}\n')

In [ ]:
anno.head(150)

In [14]:
anno_file = pd.read_csv('/home/dmc2245/annotation.txt', sep=' ', header=None, names=["varid", "gene", "anno_cat"])

In [15]:
anno_file.head(100)

             varid   Gene  anno_cat
0      1:69134:A:G  OR4F5  missense
1      1:69149:T:A  OR4F5  missense
2   1:69195:CCTT:C  OR4F5     other
3      1:69224:A:T  OR4F5  missense
4      1:69232:C:A  OR4F5  missense
..             ...    ...       ...
95     1:69920:C:A  OR4F5  missense
96     1:69942:C:G  OR4F5  missense
97     1:69962:T:A  OR4F5  missense
98     1:69968:A:G  OR4F5  missense
99     1:69995:G:C  OR4F5  missense

[100 rows x 3 columns]

## Creating the set-list file for burden testing

In [18]:
df = anno_file["varid"].str.split(":", n = 3, expand = True)

In [19]:
df.head()

   0      1     2  3
0  1  69134     A  G
1  1  69149     T  A
2  1  69195  CCTT  C
3  1  69224     A  T
4  1  69232     C  A

In [20]:
anno_file["chr"]= df[0]
anno_file["start"]= df[1]
anno_file["ref"]= df[2]
anno_file["alt"]= df[3]

In [22]:
group = anno_file.groupby('Gene')
df2 = group.apply(lambda x: x['start'].min())

In [25]:
df2.head()

Gene
A1BG        58346924
A1BG-AS1    58352001
A1CF        50806636
A2M          9068094
A2M-AS1      9067739
              ...
ABHD2       89116236
ABHD3       21651499
ABHD4       22598207
ABHD5       43690895
ABHD6       58256489
Length: 100, dtype: object

In [ ]:
test = anno_file.groupby('Gene', as_index=True).apply(lambda x: x['start'].min())

In [44]:
test = anno_file.groupby(
   ['Gene']
).agg(
    {
         'start':min,    
         'chr': min 
    }
)

In [51]:
test = anno_file.groupby('Gene').agg(
    # Get min start position for each group
    start=('start', min),
    # Get the chromosome for each group
    chrom=('chr', min),
    # Apply a lambda to join variants column
    variants=("varid", lambda x: ','.join(x))    
)

In [ ]:
test.dtypes()

In [ ]:
#Fabiha's code
grouped = anno_file.groupby(["Gene"])
import csv
with open('test.txt', 'w') as output:
    for key, values in grouped:
        s = []
        start = values["start"].min()
        chrom = values["chr"].min()
        def addToS(x, s):
            s.append(str(x["chr"]) + ":" + str(x["start"]) + ":" + x["ref"] + ":" + x["alt"])
        fxn = lambda x: addToS(x, s)
        values.apply(fxn, axis=1)
        output.write(key + " " + chrom + " " + start + " " + ",".join(s) + "\n")

In [ ]:
import csv
with open('test.txt', 'w') as output:
    for key, values in grouped:
        s = []
        start = values["Start"].min()
        chrom = values["Chr"].min()
        def addToS(x, s):
            s.append(str(x["Chr"]) + ":" + str(x["Start"]) + ":" + x["Ref"] + ":" + x["Alt"])
        fxn = lambda x: addToS(x, s)
        values.apply(fxn, axis=1)
        output.write(key + " " + chrom + " " + start + " " + ", ".join(s) + "\n")

In [40]:
grouped_multiple = anno_file.groupby(['Gene'], as_index=True)['start'].min()

In [41]:
grouped_multiple.head()

Gene
A1BG        58346924
A1BG-AS1    58352001
A1CF        50806636
A2M          9068094
A2M-AS1      9067739
Name: start, dtype: object

In [52]:
test.head()

             start chrom                                           variants
Gene
A1BG      58346924    19  19:58346924:G:A,19:58346926:G:A,19:58346928:C:...
A1BG-AS1  58352001    19  19:58352001:G:T,19:58352002:G:C,19:58352003:G:...
A1CF      50806636    10  10:50806636:T:C,10:50806654:C:A,10:50806654:C:...
A2M        9068094    12  12:9068094:A:C,12:9068101:C:T,12:9068104:A:C,1...
A2M-AS1    9067739    12  12:9067739:A:T,12:9067746:A:C,12:9067749:G:T,1...

## Test covariate and pheno file regenie

In [1]:
import pandas as pd
import numpy as np
dat = pd.read_csv('/mnt/mfs/statgen/UKBiobank/data/phenotype_files/hearing_impairment/041521_UKBB_Hearing_aid_f3393_expandedwhite_z974included_ctrl_na_228760ind', header=0, delim_whitespace=True, dtype=str)

In [2]:
dat.head()

       FID      IID sex f3393_ctrl_na age_final_aid
0  1000063  1000063   0             0            43
1  1000078  1000078   1             0            60
2  1000081  1000081   0             0            67
3  1000112  1000112   0             1            68
4  1000129  1000129   0             0           NaN

In [ ]:
dat = dat.replace(to_replace =np.nan, value ="NA")
if len(phenoCol) > 0:    
    dat.to_csv(f"{cwd}/{phenoFile:bn}.regenie_phenotype", sep=' ', index=False, columns = ['FID', 'IID'] + phenoCol)

## Expand.size function

In [15]:
from sos.utils import expand_size #bytes to Mb
expand_size('30G')*0.9/1e6

30000.0

In [ ]:
${int(expand_size(mem) * 0.9)/10^6}

Lambda function

In [145]:
phenoCol=['ASTHMA','T2D']
masks=['Mask3','Mask2']
aaf_bins=['singleton','0.1']
my_list=['ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.singleton.regenie.gz',
         'ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.0.1.regenie.gz',
         'ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.singleton.regenie.gz',
        'ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.0.1.regenie.gz',
        'ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask1.singleton.regenie.gz',
        'ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask1.0.1.regenie.gz',
        'ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.singleton.regenie.gz',
        'ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.0.1.regenie.gz',
        'ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.singleton.regenie.gz',
        'ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.0.1.regenie.gz',
        'ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask1.singleton.regenie.gz',
        'ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask1.0.1.regenie.gz']

In [146]:
# where x is a list of outputs
# for every (m, a) pair iterate through list of outputs and find elements that have the (m, a) pair

group_by = lambda x: [[i for i in x if m in i and a in i and p in i] for m in masks for a in aaf_bins for p in phenoCol]

In [138]:
group_by =(lambda x: [x[j::len(masks)]  for j in range(len(masks))])

In [129]:
group_by

In [130]:
my_list[0]

'T2D_Mask3.singleton'

In [148]:
res= group_by(my_list)

In [120]:
res

[['T2D_Mask3.singleton', 'ASTHMA_Mask2.singleton'],
 ['T2D_Mask2.singleton', 'ASTHMA_Mask3.0.1']]

In [90]:
,j::len(masks),k::len(aaf_bins) for j in range(len(masks)) for k in range(len(aaf_bins))

ParsingError: File contains parsing errors:
	[line  2]: ,j::len(masks),k::len(aaf_bins) for j in range(len(masks)) for k in range(len(aaf_bins))

Invalid statements: SyntaxError('invalid syntax', ('<string>', 1, 1, ',j::len(masks),k::len(aaf_bins) for j in range(len(masks)) for k in range(len(aaf_bins))\n'))

In [151]:
import glob
files = (glob.glob("/home/dmc2245/Rare_Variants_MWE/output/cache/*.regenie.gz"))

In [152]:
group_by = lambda x: [[i for i in x if m in i and a in i and p in i] for m in masks for a in aaf_bins for p in phenoCol]

In [153]:
infiles = group_by(files)

In [154]:
infiles

[['/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.singleton.regenie.gz',
  '/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.singleton.regenie.gz'],
 [],
 ['/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.0.1.regenie.gz',
  '/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask3.0.1.regenie.gz'],
 [],
 ['/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.singleton.regenie.gz',
  '/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.singleton.regenie.gz'],
 [],
 ['/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c22_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.0.1.regenie.gz',
  '/home/dmc2245/Rare_Variants_MWE/output/cache/ukb23155_c21_b0_v1.plink.exome.filtered_burden_ASTHMA.regenie_ASTHMA_Mask2.0.1.regenie.gz'],
 []]

In [ ]:
import gzip
import pandas as pd
if ${formatFile.is_file()}:
    for output in ${_output}:
        output = '${_output:n}' + '_original_columns' + '${_output:x}'
    else:
        output = '${_output}'

In [179]:
import pandas as pd
for l in infiles:
    for f in l:
        data = pd.concat([pd.read_csv(f, compression='gzip', header=0, delim_whitespace=True, quotechar='"', comment='#') for f in l], ignore_index=True)
        data.to_csv(output, compression='gzip', sep='\t', header = True, index = False)

ExecuteError: [0]:
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
script_627960792172241416 in <module>
          for f in l:
              data = pd.concat([pd.read_csv(f, compression='gzip', header=0, delim_whitespace=True, quotechar='"', comment='#') for f in l], ignore_index=True)
---->         data.to_csv(output, compression='gzip', sep='\t', header = True, index = False)


NameError: name 'output' is not defined

In [171]:
data

     CHROM    GENPOS                 ID  ...     CHISQ    LOG10P  EXTRA
0       22  41468696     ACO2.Mask2.0.1  ...  1.178170  0.556379    NaN
1       22  50738173      ACR.Mask2.0.1  ...  0.836549  0.443232    NaN
2       22  17181398     ADA2.Mask2.0.1  ...  0.289280  0.228646    NaN
3       22  24433415  ADORA2A.Mask2.0.1  ...  0.597785  0.357116    NaN
4       22  20967848    AIFM3.Mask2.0.1  ...  0.011286  0.038391    NaN
..     ...       ...                ...  ...       ...       ...    ...
513     21  15730297    USP25.Mask2.0.1  ...  0.904839  0.466625    NaN
514     21  37225450   VPS26C.Mask2.0.1  ...  0.538664  0.334431    NaN
515     21  42849950     WDR4.Mask2.0.1  ...  0.248513  0.208924    NaN
516     21  46286817     YBEY.Mask2.0.1  ...  0.571181  0.346990    NaN
517     21  41990811   ZBTB21.Mask2.0.1  ...  0.816536  0.436288    NaN

[518 rows x 13 columns]

In [ ]:
org = [ [' a ','b '],['c ',' d '],['e ',' f'] ]
new = []
temp = []

for o in org:
    for letter in o:
        temp.append(letter.strip())
    new.append(temp)
    temp = []

In [ ]:
data.to_csv(output, compression='gzip', sep='\t', header = True, index = False) for f in [${_input:r,}]
# unify output format
 if ${formatFile.is_file()} or ${reverse_log_p}:
    sumstats = pd.read_csv(output, compression='gzip', header=0, delim_whitespace=True, quotechar='"')  
    if ${formatFile.is_file()}:
        import yaml
        config = yaml.safe_load(open(${formatFile:r}, 'r'))
    try:
        sumstats = sumstats.loc[:,list(config.values())]
    except:
        raise ValueError(f'According to ${formatFile}, input summary statistics should have the following columns: {list(config.values())}.')
    sumstats.columns = list(config.keys())
    if ${reverse_log_p}:
        sumstats['P'] = sumstats['P'].apply(lambda row: 10**-row)
    sumstats.to_csv(${_output[0]:r}, compression='gzip', sep='\t', header = True, index = False)

In [25]:
cwd='test'
genoFile=['/home/dmc2245/UKBiobank/results/LD_clumping/cache/ukb23156_c1.merged.filtered.2000.bed', '/home/dmc2245/UKBiobank/results/LD_clumping/cache/ukb23156_c2.merged.filtered.2000.bed']

In [15]:
name[0].rsplit("_",1)[0]

'/home/dmc2245/UKBiobank/results/LD_clumping/cache/ukb23156'

In [26]:
import os
file_name = os.path.basename(genoFile[0])

In [27]:
file_name

'ukb23156_c1.merged.filtered.2000.bed'

In [28]:
file_name.rsplit("_",1)[0]

'ukb23156'

In [2]:
import pandas as pd
test =  pd.read_csv('~/MWE_regenie/annotation/1000G.EUR.hg19.hg19_multianno.csv.gz', index_col=0, nrows=0).columns.tolist()

In [ ]:
test

In [12]:
import pandas as pd
import numpy as np
import csv
columns= ['Chr', "Start", "Ref", "Alt", "Gene.refGene", "ExonicFunc.refGene", "avsnp150", "AF_nfe" ]
df = pd.read_csv('~/MWE_regenie/annotation/1000G.EUR.hg19.hg19_multianno_avsnp150.csv.gz', compression='gzip', header=0, usecols=columns, index_col=False)

In [13]:
# Get the refGene definition
df.head()

   Chr  Start Ref Alt          Gene.refGene ExonicFunc.refGene avsnp150 AF_nfe
0    1  11008   C   G  DDX11L1;LOC102725121                  .        .      .
1    1  11012   C   G  DDX11L1;LOC102725121                  .        .      .
2    1  13110   G   A  DDX11L1;LOC102725121                  .        .      .
3    1  13116   T   G  DDX11L1;LOC102725121                  .        .      .
4    1  13118   A   G  DDX11L1;LOC102725121                  .        .      .

In [40]:
# Get only the first gene name present
rsid=1
df1 = df["Gene.refGene"].str.split(";", n = 1, expand = True)
df["Gene"]= df1[0]

In [40]:
# Get the variants in the chr, pos, ref, alt format
if rsid == 1:
    df["varID"] = df.avsnp150
    tmp = df[~df["avsnp150"].str.startswith('rs', na=False)]
    tmp["varID"] = tmp.Chr.str.cat(others=[tmp.Start, tmp.Ref, tmp.Alt], sep=':')
    df[~df["avsnp150"].str.startswith('rs', na=False)] = tmp
else:
    df["varID"] = df.Chr.str.cat(others=[df.Start, df.Ref, df.Alt], sep=':')

In [42]:
df.head()

    Chr  Start Ref Alt  ... AF_nfe       Gene        varID anno_cat
0     1  11008   C   G  ...      .    DDX11L1            .    other
19    1  50891   T   C  ...      .  FAM138A-1  rs542415070    other
20    1  51047   A   T  ...      .  FAM138A-1  rs559500163    other
21    1  51049   A   C  ...      .  FAM138A-1  rs528344458    other
22    1  51050   A   T  ...      .  FAM138A-1  rs551668143    other

[5 rows x 11 columns]

In [26]:
# Drop duplicated variants
    
df2=df.drop_duplicates(subset='varID', keep='first')

In [27]:
df2.head()

    Chr  Start Ref Alt  ...     avsnp150 AF_nfe     Gene        varID
0     1  11008   C   G  ...            .      .  DDX11L1            .
19    1  50891   T   C  ...  rs542415070      .  FAM138A  rs542415070
20    1  51047   A   T  ...  rs559500163      .  FAM138A  rs559500163
21    1  51049   A   C  ...  rs528344458      .  FAM138A  rs528344458
22    1  51050   A   T  ...  rs551668143      .  FAM138A  rs551668143

[5 rows x 10 columns]

In [28]:
 # Find duplicated genes in the file
genes = dict()
def find_chrom(row):
    if row["Gene"] not in genes.keys():
        genes[row["Gene"]] = set()
    genes[row["Gene"]].add(row["Chr"])
df2[["Chr", "Gene"]].apply(find_chrom, axis=1)
    
    # Rename the duplicated genes adding the chromosome number to make them unique
def rename_chrom(row):
    if len(genes[row["Gene"]]) > 1:
        return f'{row["Gene"]}-{row["Chr"]}'
    return row["Gene"]
df2["Gene"] = df2.apply(rename_chrom, axis=1)

/home/dmc2245/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [29]:
# Match annovar annotations with regenie_burden needs 
annotation_mappings = {"nonsynonymous":'missense', "frameshift":'LoF', "stopgain":'LoF', "stoploss":'LoF', "synonymous":'synonymous'}
def annotation(x):
    x = x.strip().split()
    for i in x:
        if i in annotation_mappings.keys():
            return annotation_mappings[i]
    return 'other'
df2["anno_cat"] = df2["ExonicFunc.refGene"].apply(annotation)

In [30]:
df2.head()

    Chr  Start Ref Alt  ... AF_nfe       Gene        varID anno_cat
0     1  11008   C   G  ...      .    DDX11L1            .    other
19    1  50891   T   C  ...      .  FAM138A-1  rs542415070    other
20    1  51047   A   T  ...      .  FAM138A-1  rs559500163    other
21    1  51049   A   C  ...      .  FAM138A-1  rs528344458    other
22    1  51050   A   T  ...      .  FAM138A-1  rs551668143    other

[5 rows x 11 columns]

In [ ]:
# Create the anno_file and add chr in the beggining to match the plink bim files
with open('${_output[0]}', 'w') as output:
    for row in df2[["varID", "Gene", "anno_cat"]].to_numpy():
        if ${rsid} == True:
            output.write(f'{row[0]} {row[1]} {row[2]}\n')
        else: 
            output.write(f'chr{row[0]} {row[1]} {row[2]}\n')

In [2]:
import pandas as pd
import numpy as np
import csv
columns= ['Chr',  "avsnp150"]
df = pd.read_csv('~/UKBiobank/results/ukb23155_200Kexomes_annovar/091321_exome_bim_merge/ukb23155_chr1_chr22_091321.hg38.hg38_multianno.csv', header=0, usecols=columns, index_col=False)

In [9]:
df.tail()

          Chr     avsnp150
15580164   22  rs534636248
15580165   22            .
15580166   22            .
15580167   22            .
15580168   22            .

In [7]:
a = df['avsnp150'].unique()

In [8]:
print(sorted(a))

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

# Rename columns in the annotation file

In [2]:
import pandas as pd
import numpy as np
import csv
df = pd.read_csv('~/UKBiobank/results/ukb23155_200Kexomes_annovar/2021_10_12_hg38_exome/ukb23155_chr1_chr22_091321.hg38.hg38_multianno.csv', header=0, index_col=False)

In [37]:
# Get the column index number
cols_exome_1=['AF.1',
 'AF_male.1',
 'AF_female.1',
 'AF_raw.1',
 'AF_afr.1',
 'AF_sas.1',
 'AF_amr.1',
 'AF_eas.1',
 'AF_nfe.1',
 'AF_fin.1',
 'AF_asj.1',
 'AF_oth.1']
cols_exome_2=['AF_popmax',
 'non_topmed_AF_popmax',
 'non_neuro_AF_popmax',
 'non_cancer_AF_popmax',
 'controls_AF_popmax']
[df.columns.get_loc(c) for c in cols_exome_1 if c in df]

[42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]

In [38]:
[df.columns.get_loc(c) for c in cols_exome_2 if c in df]

[43, 55, 56, 57, 58]

In [39]:
df.columns = [col.replace('.1', '_exome') if col in cols_exome_1 else col for col in df.columns]

In [42]:
df.columns = [col+'_exome' if col in cols_exome_2 else col for col in df.columns]

In [43]:
df.columns[43]

'AF_popmax_exome'

In [30]:
# Get the column index number
cols_genome = ['AF',
 'AF_raw',
 'AF_male',
 'AF_female',
 'AF_afr',
 'AF_ami',
 'AF_amr',
 'AF_asj',
 'AF_eas',
 'AF_fin',
 'AF_nfe',
 'AF_oth',
 'AF_sas']
[df.columns.get_loc(c) for c in cols_genome if c in df]

[29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]

In [ ]:
df.columns.values[0] = "b"
df.columns.values[1] = "a"

In [27]:
df.columns[58]

'controls_AF_popmax'

In [9]:
df.head()

   Chr   Start     End Ref  ... Platform Study Pubmed ID       Otherinfo1
0    1  925862  925862   G  ...        .     .         .  chr1:925862:G:A
1    1  925869  925869   G  ...        .     .         .  chr1:925869:G:A
2    1  925870  925870   C  ...        .     .         .  chr1:925870:C:T
3    1  925874  925874   C  ...        .     .         .  chr1:925874:C:G
4    1  925874  925874   C  ...        .     .         .  chr1:925874:C:T

[5 rows x 136 columns]

In [14]:
filter_col = [col for col in df if col.endswith('.1')]

In [15]:
filter_col

['AF.1',
 'AF_male.1',
 'AF_female.1',
 'AF_raw.1',
 'AF_afr.1',
 'AF_sas.1',
 'AF_amr.1',
 'AF_eas.1',
 'AF_nfe.1',
 'AF_fin.1',
 'AF_asj.1',
 'AF_oth.1']

In [44]:
columns_names = df.columns.tolist()

In [45]:
columns_names

['Chr',
 'Start',
 'End',
 'Ref',
 'Alt',
 'Func.refGene',
 'Gene.refGene',
 'GeneDetail.refGene',
 'ExonicFunc.refGene',
 'AAChange.refGene',
 'Func.refGeneWithVer',
 'Gene.refGeneWithVer',
 'GeneDetail.refGeneWithVer',
 'ExonicFunc.refGeneWithVer',
 'AAChange.refGeneWithVer',
 'Func.knownGene',
 'Gene.knownGene',
 'GeneDetail.knownGene',
 'ExonicFunc.knownGene',
 'AAChange.knownGene',
 'Func.ensGene',
 'Gene.ensGene',
 'GeneDetail.ensGene',
 'ExonicFunc.ensGene',
 'AAChange.ensGene',
 'Xref.ensGene',
 'phastConsElements30way',
 'encRegTfbsClustered',
 'gwasCatalog',
 'AF_genome',
 'AF_raw_genome',
 'AF_male_genome',
 'AF_female_genome',
 'AF_afr_genome',
 'AF_ami_genome',
 'AF_amr_genome',
 'AF_asj_genome',
 'AF_eas_genome',
 'AF_fin_genome',
 'AF_nfe_genome',
 'AF_oth_genome',
 'AF_sas_genome',
 'AF_exome',
 'AF_popmax_exome',
 'AF_male_exome',
 'AF_female_exome',
 'AF_raw_exome',
 'AF_afr_exome',
 'AF_sas_exome',
 'AF_amr_exome',
 'AF_eas_exome',
 'AF_nfe_exome',
 'AF_fin_exome',
 'AF_asj_exome',
 'AF_oth_exome',
 'non_topmed_AF_popmax_exome',
 'non_neuro_AF_popmax_exome',
 'non_cancer_AF_popmax_exome',
 'controls_AF_popmax_exome',
 'GME_AF',
 'GME_NWA',
 'GME_NEA',
 'GME_AP',
 'GME_Israel',
 'GME_SD',
 'GME_TP',
 'GME_CA',
 'Kaviar_AF',
 'Kaviar_AC',
 'Kaviar_AN',
 'avsnp150',
 'DamagePredCount',
 'SIFT_pred',
 'SIFT4G_pred',
 'Polyphen2_HDIV_pred',
 'Polyphen2_HVAR_pred',
 'LRT_pred',
 'MutationTaster_pred',
 'MutationAssessor_pred',
 'FATHMM_pred',
 'PROVEAN_pred',
 'VEST4_score',
 'MetaSVM_pred',
 'MetaLR_pred',
 'M-CAP_pred',
 'REVEL_score',
 'MutPred_score',
 'MVP_score',
 'MPC_score',
 'PrimateAI_pred',
 'DEOGEN2_pred',
 'BayesDel_addAF_pred',
 'BayesDel_noAF_pred',
 'ClinPred_pred',
 'LIST-S2_pred',
 'CADD_raw',
 'CADD_phred',
 'DANN_score',
 'fathmm-MKL_coding_pred',
 'fathmm-XF_coding_pred',
 'Eigen-raw_coding',
 'Eigen-phred_coding',
 'Eigen-PC-raw_coding',
 'Eigen-PC-phred_coding',
 'GenoCanyon_score',
 'integrated_fitCons_score',
 'GM12878_fitCons_score',
 'H1-hESC_fitCons_score',
 'HUVEC_fitCons_score',
 'LINSIGHT',
 'GERP++_NR',
 'GERP++_RS',
 'phyloP100way_vertebrate',
 'phyloP30way_mammalian',
 'phyloP17way_primate',
 'phastCons100way_vertebrate',
 'phastCons30way_mammalian',
 'phastCons17way_primate',
 'bStatistic',
 'Interpro_domain',
 'GTEx_V8_gene',
 'GTEx_V8_tissue',
 'dbscSNV_ADA_SCORE',
 'dbscSNV_RF_SCORE',
 'CLNALLELEID',
 'CLNDN',
 'CLNDISDB',
 'CLNREVSTAT',
 'CLNSIG',
 'DN ID',
 'Patient ID',
 'Phenotype',
 'Platform',
 'Study',
 'Pubmed ID',
 'Otherinfo1']

In [32]:
df.columns = [col+'_genome' if col in cols_genome else col for col in df.columns]

In [33]:
#[29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]
df.columns[29]

'AF_genome'

In [46]:
df.to_csv('~/UKBiobank/results/ukb23155_200Kexomes_annovar/2021_10_12_hg38_exome/ukb23155_chr1_chr22_091321.hg38.hg38_multianno.renamedcols.csv', index=False, compression='gzip')

In [49]:
import os
region_file ='/home/dmc2245/test/region_extract/test_chr5'
regions = list([(x.strip().split()) for x in open('/home/dmc2245/test/region_extract/test_chr5').readlines() if x.strip()])

In [54]:
for_each=dict(regions=regions)

In [55]:
for_each

{'regions': [['5', '73776529', '73849020'], ['5', '272856', '1213643']]}

In [56]:
regions[0]

['5', '73776529', '73849020']

In [ ]:
incl_range=[str(regions[0:0]) + ":" + str(regions[1]) + "-" + str(regions[2]) for i in range(len(regions))]